*{
    margin:0 auto;
    padding: 0;
}

body{
    box-sizing: border-box;
}

header{
    background-image: url(/hamStyle.css/imgs/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-position: 0px -120px;
    filter: contrast(0.91);
    min-width: 1500px;
    height: 754px;
    background-size: cover;
    filter: inherit;
}

#ham-header{
    display: flex;
    height: 114px;
    background-color: #0009;
}

#ham-logo-text{
    display: flex;
    margin-top: 21px;
    margin-left: 15%;
    margin-right: 10%;
}

#ham-logo{
    background-image: url(/hamStyle.css/imgs/Polygon\ 1@1X.png);
    background-repeat: no-repeat;
    height: 67px;
    width: 58px;
}

#ham-logo h2{
    color: white;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    font-size: 40px;
    padding-top: 11px;
    padding-left: 17px;
    
}

#ham-text{
    font-family: Montserrat-Regular,Montserrat-Bold,AdobeInvisFont,Courier;
    padding-top: 16px;
}

#ham-text h3{
    color: white;
    font-size: 30px;
}

#ham-text span{
    color: #18CFAB;
}

#header-links{
    display: flex; 
    margin-top: 36px;
}

#header-links ul{
    display: flex;
}

#header-links ul li{
    list-style: none;
    padding:8px;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    font-size: 13px;
}

#header-links ul li a{
    text-decoration: none;
    color:#B8B8B8;
    transition: all .2s;
    padding-bottom: 54px;
    padding-top: 15px;
}

#header-links ul li a:hover{
    color: #18CFAB;
    border-bottom: 3px solid #18CFAB;
}

#search-logo{
    margin-top: 7px;
    margin-left: 7px;
}

#section-1{
    margin-top: 11%;
    margin-left: 1%;
    text-align: center;
}

#section-1-h-1{
    color: #ffffff;
    font-size: 30px;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    word-spacing: -7px;
}

#section-1-h-1 span{
    color: #18CFAB;
}

#section-1-h-2{
    color: #ffffff;
    font-size: 61px;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    padding: 16px 0;
    word-spacing: -20px;
}

#section-1-h-3{
    font-size: 23px;
    font-family: Montserrat-Light,AdobeInvisFont,Courier;
    color: #D4D4D4;
    word-spacing: -5px;
}

#btns{
    padding: 90px 0;
}

#section-1-btn-1{
    background-color: #18cfab;
    height: 53px;
    width: 167px;
    outline: none;
    transition: all .2s;
    border-radius: 7px;
    border-top-width: 5px;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    color: white;
    cursor: pointer;
}

#section-1-btn-1:hover{
    background-color: #15b796;
}

#section-1-btn-1:active{
    position:relative;
	top:0.5px;
}

#section-1-btn-2{
    background-color: #00CBF6;
    height: 53px;
    width: 167px;
    outline: none;
    transition: all .2s;
    border-radius: 7px;
    border-top-width: 5px;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    color: white;
    cursor: pointer;
}

#section-1-btn-2:hover{
    background-color: #00bfe6;
}

#section-1-btn-2:active{
    position:relative;
	top:0.5px;
}

#section-2{
    height: auto;
}

#section-2-rectangles{
    display: flex;
    min-width: 1500px;
    /* min-width: auto; */
    height: 325px;
}

.green-emptiness{
    background-color: #18CFAB;
    height: 7px;
}

.white-emptiness{
    background-color: #ffffff;
    height: 7px;
}

#rectangle-1{
    background-color: #1C2A33;
    width: 25%;
}

#rectangle-1 img{
    padding: 55px 161px;
}

#rectangle-1 h6{
    padding: 1px 50px;
    color: #18CFAB;
    font-size: 20px;
}

#rectangle-2{
    background-color: #18CFAB;
    width: 25%;
}

#rectangle-2 img{
    padding: 67px 143px;
}

#rectangle-2 h6{
    padding-left: 75px;
    font-size: 20px;
    color: #FFFFFF;
}

#rectangle-3{
    background-color: #1C2A33;
    width: 25%;
}

#rectangle-3 img{
    padding: 56px 159px;
}

#rectangle-3 h6{
    padding-left: 84px;
    color: #18CFAB;
    font-size: 20px;
}

#rectangle-4{
    background-color: #18CFAB;
    width: 25%;
}

#rectangle-4 img{
    padding: 66px 141px;
}

#rectangle-4 h6{
    padding-left: 68px;
    color: #FFFFFF;
    font-size: 20px;
}

.horizontal-1{
    border-top: 1px solid #18CFAB;
    width: 120px;
    margin-left: 45%;
    margin-top: 20px;
}

.horizontal-2{
    border-top: 1px solid #18CFAB;
    width: 120px;
    margin-right: 46%;
    margin-top: 4px;
}

#section-2-main{
    margin-top: 55px;
    min-width: 1500px;
    /* min-width: auto; */
}

 #section-2-main-menubar-articles{
    margin: 48px 120px;
    display: flex;    
}

.menubar-options {
    display: block;
    border: 1px solid #EBEBEB;
    padding: 20px 60px;
    margin-bottom: -3px;
    text-align: center;
    color: #717171;
}

.menubar-triangles {
    display: none;
}

.menubar-triangles-active {
    display: block;
    margin-left: 113px;
}

.menubar-options-active {
    background-color: #18CFAB;
    color: #ffffff;
}

.section-2-article {
    display: none;
}

.section-2-article-active {
    display: flex;
    margin: 25px 118px;
    min-width: 1300px;
    /* min-width: auto; */
}

.section-2-article-active img{
    height: 140px;
}

.section-2-article-active p{
    color: #777777;
    font-size: 22px;
    font-size: 21px;
    margin-left: 18px;
}

#section-3{
    background-image: url(/hamStyle.css/imgs/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -272px;
    height: 430px;
    margin-top: 82px;
    min-width: 1500px;
    /* min-width: auto; */
    filter: brightness(0.88);
}

#section-3 h1{
    color: #18CFAB;
    font-size: 40px;
    margin-left: 160px;
    padding-top: 124px;
    filter: contrast(2.5);
    font-family: sans-serif;
}

#section-3 h6{
    color: #D8D8D8;
    font-size: 16px;
    margin-left: 323px;
    padding-top: 11px;
    filter: contrast(2.5);
}

#section-3 button{
    background-color: #18cfab;
    height: 53px;
    width: 167px;
    outline: none;
    transition: all .2s;
    border-radius: 7px;
    border-top-width: 5px;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    color: white;
    cursor: pointer;
    margin-left: 618px;
    margin-top: 56px;
    filter: contrast(2.5);
}

#section-3 button:hover{
    background-color: #15B7A5;
}

#section-3 button:active{
    position:relative;
	top:0.5px;
}

#section-4{
    height: auto;
    background-color: #ffffff;
    min-width: 1500px;
    /* min-width: auto; */
}

#section-4 h1{
    color: #4E4E4E;
    font-family: Montserrat-Regular,AdobeInvisFont,Courier;
    font-size: 36px;
    text-align: center;
    margin-top: 45px;
}

#section-4-menubar{
    display: flex;
    margin: 53px 120px;    
}

.sc4-menubar-options{
    border: 1px solid #EBEBEB;
    padding: 18px 76px;
    width: 15%;
    text-align: center;
    color: #717171;
}

.sc4-menubar-options-active{
    color: #19C7A5;
    border-top-color: #19C7A5;
    border-top-width: 3px;
}

.section-4-imgs-area{
    display: none;
}

.section-4-imgs-area-active{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 350px;
    min-width: 820px;    
}

.section-4-imgs{
    width: 205px;
    height: 147px;
}

.section-4-imgs-area-add{
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    margin: 0px 350px;
    min-width: 820px;
}

/* .section-4-imgs-area-add-2{
    display: none;
}

.section-4-imgs-area-add-3{
    display: none;
} */

#section-4-btn{
    background-color: #18cfab;
    height: 53px;
    width: 145px;
    outline: none;
    transition: all .2s;
    border-radius: 5px;
    border-style: none;
    font-family: Montserrat-Bold,AdobeInvisFont,Courier;
    color: white;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 45px;
    /* margin-bottom: 75px; */
    display: flex;
}

#section-4 button:hover{
    background-color: #15b796;
}

#section-4 button:active{
    position:relative;
    top:0.5px;
}

#section-4 button img{
    padding-left: 13px;
}

#section-4 button h6{
    font-size: 13px;
    font-family: sans-serif;
    padding-right: 5px;
}

footer{
    margin-top: 120px;
    height: 80px;
    background-color: #22353F;
    min-width: 1500px;
    /* min-width: auto; */
}

footer h6{
    color: #AEAEAE;
    padding-top: 33px;
    padding-left: 41%;
}

footer span a{
    color: #19C7A5;
    text-decoration: none;
}