body{
    margin: 0;
}
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-header{
    padding-top: 15px;
}
.logo{
    color: black;
    font-size: AdobeInvisFont,Courier,MyriadPro-Regular;
    font-size: 80px;
    text-decoration: none;
    text-align: center;
    float: left;
}
.blue{
    color:#4BCAFF;
}
.underline{
    color:#3181A6;
    text-decoration: underline;
    text-decoration-color: #3181A6;
}
.container{
    max-width: 1280px;
    margin:0 auto;
}
.navigation{
    margin-top: 15px;
    background-color: #35444F;
    display: inline-block;
    width: 100%;
    padding: 14px 70px;
    padding-bottom: 35px;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navigation li{
    font-size: 24;
    width: 25%;
    list-style-type: none;
    float: left;
}
.navigation a:hover{
    color: rgb(28, 22, 110);
}
.content{
    margin-top: 25px;
    justify-content: space-between;
    display: inline-block;
}
.nav-menu{
    border: 1px solid #35444F;
    width: 200px;   
}
.nav-menu-list{
    padding:0;
}
.nav-menu-list a{
    padding:15px;
    text-decoration: none;
    transition: all .3s;
    color: #495863;
    height: 37px;
    display: inline-block;
}
.nav-menu-list li{
    list-style-type: none;
}
.nav-menu-list li:hover{
    background-color: #DBDBDB;
    padding-left: 18px;
}
.article{
    display: inline-block;
    margin-top: 275px;
    text-align: left;
    padding-left: 245px;
    margin-bottom: 25px;
    overflow: hidden;
}
.article p {
    font-size: 14px;
    padding: 10px;
}
.article-image{
    display: inline-block;
    border: 1px solid black;
    padding: 30px 130px;
    position: absolute;
    left: 370px;
    top: 244px;
    width: 1029px;
    height: 460px;
}
.image{
    display: inline-block;
    position: relative;
    top: 72px;
    left: 263px;   
}
.footer{
    display: inline-block;
    justify-content: center;
    background-color: #B4B7BA;
    width: 100%;
    padding: 14px 70px;
    padding-bottom: 35px;
    margin-top: 15px;
}
.footer a{
    color:black;
    text-decoration: none;
    font-size: 17px;  
}
footer li{
    list-style: none;
    width: 15%;
    float: left;
}
footer a:hover{
    text-decoration: underline;
    text-decoration-color:#3181A6;
    color: #3181A6;
}
.navigation{
    width: 100%;
}
.navigation li {
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: auto;
}

