*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('journey.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
   background-color: #0009;
   display: flex;
   padding: 15px;
   width: 100%;
   height: 100px;
   align-items: center;
   justify-content: space-between;
}
.journey-link{
    color: white;
    font-family: Verdana-Bold,AdobeInvisFont,Courier;
    text-decoration: none;
    transition:all .3s;
    padding-left: 70px;
}
.journey-link:hover{
    color: #3CB878;
}
.menu-right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
}
.menu-logos{
        border-right-style: groove;
        border-right-color: white;
        border-right-width: 1px;
}
.menu-logos li{
    display: inline-block;
    text-decoration: none;
}
.menu-logos img{
    transition: all .4s;
    margin: 15px;
}
.menu-logos img:hover{
    background-color: #3CB878;
}
.menu-text{
    color: white;
    margin-right: 50px;
    margin-left: 12px;
}
.menu-text a{
    color: #3CB878;
    text-decoration: none;
    transition: all .3s;
}
.menu-text a:hover{
    text-decoration: underline;
}
.frame{
    background-color: white;
    width: 424px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 36%;
    top: 19%;
}
/*Upper Horizontal*/
.upper-horizontal{
    display: block;
}
.green-box{
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-top: 22px;
}
.upper-horizontal h2{
    display: inline-block;
    margin-left: 22px;
    font-family: AdobeInvisFont,Courier,Verdana;
    font-size: 20;
    color: #434343;
}
.upper-horizontal a{
    margin-left: 200px;
    text-decoration: none;
    color: #3CB878;
}
.upper-horizontal a:hover{
    text-decoration: underline;
}
/*Buttons*/
.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin-top: 1.2em;
    margin-left: 42px;
    margin-right: -36px;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    transition: all .2s;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn--facebook {
    background-color: #4C69BA;
    width: 38%;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    outline: none;   
  }
  .loginBtn--google {
    background: #DD4B39;
    width: 38%;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,.loginBtn--google:focus{
    background: #E74B37;
    outline: none; 
}
h3 {
    position: relative;
    text-align: center;
    margin-top: -13px;   
}
.horizon-1 {
    display: block;
    width: 144px;
    height: 2px;
    background-color: #848484;
    margin-left: 42px;
}
.horizon-2 {
    display: block;
    width: 136px;
    height: 2px;
    background-color: #848484;
    margin-left: 237px;
    margin-top: -10px;
}
form{
    display: flex;
    flex-direction: column;
}
.input {
    padding: 14px 14px 14px 14px;
    margin-left: 41px;
    margin-right: 50px;
    margin-top: 11px;
    border-radius: 4px;
    border:1px solid #E7E7E7;
    outline: none;
}
.input:focus{
    box-shadow: 0px 2px 7px gray;
}
form span a{
    color: #3CB878;
    text-decoration: none;
}
form span a:hover{
    text-decoration: underline;
}
p{
    position: relative;
    padding-left: 41px;
    padding-top: 7px;
}
.submit{
    margin: 14px 47px 26px 39px;
    padding: 14px;
    border-radius: 6px;
    background-color: #3CB878;
}
.submit:hover{
    background-color: #329A65;
}
.check-container {
    display: flex;
    padding-left: 42px;
    padding-top: 10px;
}
input[type="checkbox"]{
   height: 20px;
   position: relative;
}
.check-container label{
    padding-left: 12px;
}
.submit{
    color: white;
}



